---
title: new page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="h2 text-center">Профессиональная заточка инструментов Киев</h2>

    <div class="section-subttl text text-center mb-5">
      Профессиональную заточку любых инструментов: парикмахерских, медицинских,  маникюрных, косметологических, инструментов для груминга и даже бензопил, качественно и на высоком уровне реализуют мастера компании Твердь. 
    </div>
  </div>

  <div class="component mb-5">
    <div class="wysiwyg-image">
      <div class="row mr-0 ml-0 no-margin-wp block align-items-center" style="background-color: #ededed;">
        <div class="col-sm-6 text">
          <p>Вы можете быть уверены, что принеся нам инструмент, Вы получите высокое качество услугу по заточке, а также гарантию на заточенный инструмент.</p>
        </div>
        <div class="col-sm-6 p-0">
          <img class="lazy img-fluid" src="" alt="" data-src="./img/photo_2020-03-11_14-56-22.jpg"> 
        </div>
      </div>
    </div>
  </div>

  <div class="text-block color mb-10">Мы занимаемся заточкой уже более 15 лет и являемся профессионалы своего дела. Мы отлично знаем, что от качества заточки напрямую зависят эксплуатационные характеристики инструмента, именно поэтому мы проводим заточку ручным и полу механическим способом. Для заточки у нас используют алмазные бруски, а контроль качества проводят под микроскопом. </div>

  <h2 class="text-center mb-5 h2">Заточка маникюрного инструмента</h2>

  <div class="component">
    <div class="wysiwyg-image">
      <div class="row mr-0 ml-0 no-margin-wp block align-items-center" style="background-color: #ededed;">
        <div class="col-sm-6 text">
          <p>Качественный маникюрный инструмент как для профессионального так и для бытового использования стоит далеко не дешево. Но, если Вы столкнулись с тем, что любимые ножницы или накожницы перестали справляться со своей функцией, не спешите покупать новые. Качественная заточка легко продлит их срок эксплуатации, а также сбережет Вас от лишних трат. </p>
        </div>
        <div class="col-sm-6 p-0">
          <img class="lazy img-fluid" src="" alt="" data-src="./img/photo_2020-03-11_14-56-18.jpg"> 
        </div>
      </div>
    </div>
  </div>

  <div class="component mb-10">
    <div class="wysiwyg-image">
      <div class="row mr-0 ml-0 no-margin-wp block align-items-center" style="background-color: #ededed;">
        <div class="col-sm-6 p-0">
          <img class="lazy img-fluid" src="" alt="" data-src="./img/photo_2020-03-11_14-56-10.jpg"> 
        </div>

        <div class="col-sm-6 text">
          <p>С маникюрными инструментами наши мастера работают вручную. Ручная заточка - это практически ювелирная работа, ведь в отличие от механической она более тонкая и аккуратная. Однако, в этом случае все напрямую зависит от таланта мастера. В своих мастерах мы уверены настолько, что предоставляем гарантию на заточенный инструмент.</p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center mb-5 h2">Заточка парикмахерского инструмента</h2>
  
   <div class="component mb-10">
    <div class="wysiwyg-image">
      <div class="row mr-0 ml-0 no-margin-wp block align-items-center" style="background-color: #ededed;">
        <div class="col-sm-6 p-0">
          <img class="lazy img-fluid" src="" alt="" data-src="./img/photo_2020-03-11_14-56-20.jpg"> 
        </div>

        <div class="col-sm-6 text">

          <p>Не менее важно и в парикмахерском деле иметь хорошо заточенный инструмент. Ведь от стрижки тупыми ножницами пострадает как имидж мастера, так и прическа клиента. 
          Но, если вовремя проводить заточку парикмахерского инструмента, подобных ситуаций легко удастся избежать. </p>
          <p>Наши мастера отлично выполняют свою работу и определенно не разочаруют Вас качеством заточки профессионального парикмахерского инструмента. </p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center mb-5 h2">Заточка косметологического и медицинского инструмента</h2>

  <div class="component mb-5">
    <div class="wysiwyg-image">
      <div class="row mr-0 ml-0 no-margin-wp block align-items-center" style="background-color: #ededed;">
        <div class="col-sm-6 text">
          <p>Заточка некоторых косметологических и медицинских инструментов требует от мастера особых навыков. Данный вид заточки проводят под микроскопом, соответственно работа напоминает ту, что делат мастер при огранке драгоценных камней. Точность здесь куда важнее скорости. </p>
        </div>
        <div class="col-sm-6 p-0">
          <img class="lazy img-fluid" src="" alt="" data-src="./img/photo_2020-03-11_14-56-15.jpg"> 
        </div>
      </div>
    </div>
  </div>

  <div class="text-block color">Имея богатый опыт наши мастера отлично справляются с этой сложной работой. Помимо заточки профессиональных инструментов компания Твердь также занимается ремонтом, реставрацией и конечно же непосредственно изготовлением профессионального маникюрного, косметологического и парикмахерского инструмента, что и есть нашим большим преимуществом. </div>

  <div class="text-block mb-10">Мы изначально знаем как работать с разными материалами и какие эксплуатационные характеристики должно иметь готовое изделие. У нас Вы также можете заказать заточку инструментов для груминга, заточку цепей для электро и бензопил. </div>

  <article class="article text">
    <p><strong>Как проверить качество заточки?</strong></p>

    <p>Очень часто мастера компании Твердь сталкиваются с тем, что даже новый инструмент требует дополнительной заточки. Такое случается когда острые грани профессионального инструмента подверглись механической заточке, то есть обрабатывались станком. Пользоваться профессиональными инструментами можно сразу, только, если проводилась ручная заточка, как у товаров нашей компании. </p>

    <p>Однако качество заточки не возможно определить на глаз. Проверять инструмент необходимо исходя из его прямого предназначения. Маникюрные ножницы или кусачки для ногтей проверяют, делая надрез на плотной бумаге или картоне, накожницы на полиэтилене (кусочек пленки или полиэтиленового пакета), а парикмахерские ножницы на искусственных волосах или на кусочке ваты, растянутой до состояния волокон. В любом из вышеперечисленных случаев надрез должен быть ровным и производится легким движением без применения дополнительного нажима. </p>

    <p><strong>Как часто необходимо проводить заточку инструментов?</strong></p>

    <p>Как часто необходимо проводить заточку зависит от эксплуатации и начального качества инструмента. При правильном уходе и домашнем использовании инструменты нашего производства сохраняют остроту на протяжении практически 2-х лет. </p>

    <p>Если же инструмент используют в профессиональном салоне, то при умеренной загрузке заточка сохраняется на протяжении года, а при интенсивном употреблении нужно будет проводить заточку каждые пол года. 
    Однако, если не придерживаться правил хранения и эксплуатации то срок службы может значительно уменьшится.</p>

    <p>Более подробно о сроках и стоимости заточки Вы можете уточнить у наших сотрудников, позвонив по номеру на сайте. </p>

    <p>Обращаясь к нам Вы гарантированно получите наилучший результат!</p>
  </article>

</section>
{% endblock %}
