<footer id="footer" style="color: #ffffff; background-color: #4c4c4c;">
    <div class="wrapper-size">
        <div class="footer-wrapper" style="background-color: #4c4c4c;">
                            <div class="row footer-type-1">
    <div class="col-sm-4">
        <div class="no-margin-wp footer-margin-bottom">
            <p><span style="font-size: 18px;">“Твердь”</span></p>
<p>&nbsp;</p>
<p><span style="font-size: 18px;">Киев, пр-т П. Григоренка, 36</span></p>
<p><span style="font-size: 18px;">(м. Позняки)</span></p>
<p>&nbsp;</p>
<p><span style="font-size: 18px;">Пн-Пт 10:00 – 18:00</span></p>
<p><span style="font-size: 18px;">Сб-Вс Выходной</span></p>
        </div>
                    </div>
    <div class="col-sm-3">
                    <div class="numbers">
                                    <div class="wrapper-numbers">
                                                <a class="d-block" href="tel:(067) 188 22 99">(067) 188 22 99</a>
                    </div>
                            </div>
            </div>
    <div class="col-sm-5 map"><iframe class="lazy loaded" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.5350283868925!2d30.63219931589457!3d50.39386579932137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c44c6510e5d1%3A0x7764374f9bf8c0de!2z0L_RgNC-0YHQvy4g0J_QtdGC0YDQsCDQk9GA0LjQs9C-0YDQtdC90LrQviwgMzYsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1577195944610!5m2!1sru!2sua" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.5350283868925!2d30.63219931589457!3d50.39386579932137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c44c6510e5d1%3A0x7764374f9bf8c0de!2z0L_RgNC-0YHQvy4g0J_QtdGC0YDQsCDQk9GA0LjQs9C-0YDQtdC90LrQviwgMzYsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1577195944610!5m2!1sru!2sua" data-was-processed="true"></iframe></div>
</div>
                        <div class="d-flex justify-content-between signature-bifo">
                                <p class="mb-0">© 2019 Сайт разработан и обслуживается компанией <a class="d-inline-block" href="//bifo.kiev.ua/" rel="nofollow"> <strong>«Бизнес-формула»</strong></a></p>
                            </div>
        </div>
    </div>
</footer>